#a1{
    height: 600px;
    width: 350px;
    border: 4px solid black;
   border-radius: 30px;
   margin: auto;
   position: relative;
   position: fixed;
   margin-left:400px;
 
}
header {

    background-color: rgb(138, 243, 86);
    width:350px ;
    height: 70PX;
    display: flex;
    align-items: center;
    position: fixed;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    border: 1px solid black;
}
ul{
list-style-type: none;
}

.content{
    background: lightgoldenrodyellow;
    height: 500px;
    overflow: scroll;
    scrollbar-width: none;
   
    margin-top: 70px;
    
    
}

#a2{
    height: 50px;
    width: 50px;
    border: 1ps solid black;
    border-radius: 100%;
    padding-left: 10px;
}
#a3{
    padding-left: 30px;
}
#m1{
    font-size: 30px;
}
.date{
    text-align: center;
    background-color: aqua;
    width: 30%;
    margin: auto;
    position: sticky;
    top: 0;
}
.right{
justify-content: flex-end;
align-items: center;
padding-left: 250px;
background-color: white;
color: black;
}
.left{
    padding-left: 20px;
    background-color: white;
    color: black;

}
.sub-head li{
    display:inline-block ;
    position: relative;
    left: 70px;
    padding: 10px;
}
.chat-footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 320px;
    background-color: #f0f0f0;
    padding: ;
    border-top: 1px solid #ccc;
   left: 0;
  margin: 20px;
   border-radius: 10px;
   height: 20px;
   
}
#w1{
margin-left: 70px;
p
}
#w2{
    
}
#w3{
    
}

    
